.page {
  width: 100vw;
  height: 100vh;
  padding: 0; /* Removed padding to allow sidebar to touch the edge */
  background-color: whitesmoke;
}

.app {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-color: white;
  border-radius: 0.2vw;
}

.nav-bar {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1vw;
  width: 40%;
  height: 100%;
  padding: 0 1vw 0 2vw;
}

.left-aligned-nav {
  justify-content: flex-start;
}

.right-aligned-nav {
  justify-content: flex-end;
}

.nav-bar > button {
  border: none;
  background-color: transparent;
  font-size: 1.5vw;
  cursor: pointer;
}

.account-button {
  justify-self: flex-end;
  position: relative;
  height: 50%;
  background-color: transparent;
  border: none;
}

.account-button > img {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.page-content {
  height: 90%;
  width: 100%;
  padding: 20px; 
  overflow: visible; /* Changed to visible to avoid clipping */
}

body {
  font-family: 'Arial', sans-serif; 
  background-color: #f8f9fa; 
  color: #333; 
}

.navbar, .nav-link {
  font-size: 16px; 
}

.card {
  margin-bottom: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Ensuring no inherited margins or paddings */
.container, .row, .col {
  margin: 0;
  padding: 0;
}

/* Additional reset for common elements that might be affecting layout */
*, *:before, *:after {
  box-sizing: border-box; /* Makes sure padding and borders are included in width/height */
}
