.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.leftColumn {
    border-right: 1px solid black;
    height: 100%;
}

.rightColumn {
    height: 100%;
}

.dataBlock {
    border-bottom: 1px solid black;
    grid-template-rows: 1fr 1fr;
    height: 50%;
    text-align: center;

    display: flex;
    flex-direction: row;
}

.chartRankContainer {
    border-top: 1px solid black;
}


.graphArea {
    background-color: blue;
    width: 50%;
}

.detailsArea {
    background-color: red;
    width: 50%;
}

.userDetailsArea {
    background-color: red;
    width: 100%;
}

.header {
    text-align: center;
}