.projectListColumn {
    width: 25%; /* Adjust width as necessary */
    padding: 0 !important; /* Remove padding */
    margin: 0 !important; /* Remove margins */
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #f8f9fa; /* Background color */
    border-right: 2px solid #dee2e6; /* Right border for a clear separation */
}

.project-details-column {
    margin-left: 25%; /* Push the main content area to the right */
    width: 75%; /* Remaining width of the viewport */
    padding: 20px; /* Padding inside the content area */
    /* min-height: 100vh; Full height */
}

/* Ensure that the row containing these columns does not have any unexpected padding or margin */
.custom-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%; /* Ensures the row is full width */
    margin: 0 !important; /* No external margins */
}

/* Also, adjust the Bootstrap Container if needed */
.custom-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100%; /* Ensure container is full width */
    max-width: 100% !important; /* Prevent Bootstrap from limiting the container width */
    align-items: start; /* Aligns items to the top, if necessary */
    display: flex;
    justify-content: flex-start; /* Ensures content starts from the left */
}

#root > div {
    justify-content: flex-start !important; /* Aligns content to the start, overriding center alignment */
}